---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Inconsolata', "Courier New", monospace;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$heading-font-family: 'Hind', "Helvetica Neue", Helvetica, Arial, sans-serif;

$spacing-unit:     40px;


$grey-dark:       	#555;
$grey:       		#999;
$grey-light:       	#ccc;
$grey-lighter:     	#eee;
$white:				#fff;

$text-color:       $grey;


$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
