<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <a href="#" class="menu-icon">
      </a>

      <div class="trigger">
        <a class="site-title page-link" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <a class="page-link" href="mailto:jahilnbrand@gmail.com">Contact</a>
        <a class="page-link" target="_blank" href="https://dl.dropboxusercontent.com/u/6128235/jeff-hilnbrand-resume.pdf">Résumé</a>
      </div>
    </nav>

    <nav class="site-nav site-nav-right">
      <a href="#" class="menu-icon">
      </a>

      <div class="trigger">
        <a class="page-link" target="_blank" href="https://twitter.com/{{ site.twitter_username }}">{% include icon/twitter.html %}</a>
        <a class="page-link" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">{% include icon/linkedin.html %}</a>
        <a class="page-link" target="_blank" href="https://dribbble.com/{{ site.dribbble_username }}">{% include icon/dribbble.html %}</a>
        <a class="page-link" target="_blank" href="https://medium.com/@{{ site.medium_username }}">{% include icon/medium.html %}</a>
        <a class="page-link" target="_blank" href="https://github.com/{{ site.github_username }}">{% include icon/github.html %}</a>
      </div>
    </nav>

  </div>

</header>
