<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <a href="#" class="menu-icon">
      </a>

      <div class="trigger">
        <a class="site-title page-link" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <a class="page-link" href="mailto:jahilnbrand@gmail.com">Contact</a>
        <a class="page-link" target="_blank" href="https://dl.dropboxusercontent.com/u/6128235/jeff-hilnbrand-resume.pdf">Resumé</a>
      </div>
    </nav>

    <nav class="site-nav site-nav-right">
      <a href="#" class="menu-icon">
      </a>

      <div class="trigger">
        <a class="page-link" target="_blank" href="http://twitter.com/jhilmd">Twitter</a>
        <a class="page-link" target="_blank" href="http://dribbble.com/jhil">Dribbble</a>
        <a class="page-link" target="_blank" href="http://github.com/jhil">Github</a>
      </div>
    </nav>

  </div>

</header>
