// HEADER

.site-header {
    min-height: 5rem;

    // Positioning context for the mobile navigation icon
    position: relative;

    .wrapper {
        border-bottom: 1px solid $grey-light;
    }
}

.site-title {
    font-weight: 900;
}

.site-nav {
    float: left;
    line-height: 5rem;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}

.site-nav-right {
    float: right;
    @include media-query($on-laptop) {
        display: none; // temporary, build out new way to display social links
    }
}



// FOOTER

.site-footer {
    // border-top: 1px solid $grey-light;
    padding: 0 0 $spacing-unit*.75;
    margin: 0;
}


// PAGE CONTENT

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > a {
        max-width: 720px;
        padding: 66px $spacing-unit;
        color: $white;
        margin-bottom: $spacing-unit/2;

        h2, p {
            margin: 0;
        }

    }
}

.post-meta {
    text-transform: lowercase;
    margin: 0;

    @include media-query($on-laptop) {
        display: none;
    }

}

.home .post-meta {
    color: $white;
}

.post-link {
    display: block;
    
    h2 {
        font-size: 4rem;
    }

}

a.post-link {
    color: $white;
    &:hover {
        text-decoration: none;
    }
}


// POSTS

.post-header {
    margin: $spacing-unit 0;
}

.post-title {
    font-size: 4rem;
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 3rem;
        margin-top: $spacing-unit;
        text-align: center;
    }
}


// FANCY STYLEZ

::selection {
    background-color: $grey-light;
    color: $white;
}
::-moz-selection {
    background-color: $grey-light;
    color: $white;
}
