
//// TYPOGRAPHY


// BASIC

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
}


// HEADINGS

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: 600;
}


// PARAGRAPH

p {
    font-size: 1.125rem;
}


// LINKS

a {
    color: $grey-dark; // overwrite this when possible, this merely serves as a catch-all just in case
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}


// BLOCKQUOTE

blockquote {
    color: $grey;
    border-left: 4px solid $grey-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}


// CODE

pre,
code {
    font-size: 15px;
    border: 1px solid $grey-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


