
$base-font-family: 'Inconsolata', "Courier New", monospace;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.625;

$heading-font-family: 'Hind', "Helvetica Neue", Helvetica, Arial, sans-serif;

$spacing-unit:     3rem;

$grey-dark:         #4d4d4d;
$grey:              #555555;
$grey-light:        #cccccc;
$grey-lighter:      #eeeeee;
$white:             #ffffff;

$text-color:       $grey;

$on-palm:          600px;
$on-laptop:        800px;
