
$base-font-family: 'Inconsolata', "Courier New", monospace;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$heading-font-family: 'Hind', "Helvetica Neue", Helvetica, Arial, sans-serif;

$spacing-unit:     3rem;


$grey-dark:         #222;
$grey:              #555;
$grey-light:        #ccc;
$grey-lighter:      #eee;
$white:             #fff;

$text-color:       $grey;


$on-palm:          600px;
$on-laptop:        800px;
